name: Android CI

on:
  push:
    branches: [ "devDung" ]
  pull_request:
    branches: [ "devDung" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.2'
    - name: Install Bundler
      run: gem install bundler
    - name: Install dependencies
      run: bundle install
    - name: Build with Fastlane
      run: bundle exec fastlane android beta
